# Archivos y directorios a ignorar en el build de Docker
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Otros
README.md
HELP.md
